* {
    box-sizing: border-box;
}

/* Clears left/right after end of row */
.row::after {
    content: "";
    clear: both;
    display: block;
}

html {font-family: 'Source Sans Pro', sans-serif;}

.canvas-bg-default {
    /*background-color: #000000;*/
    background-image: url("../images/game_background.gif");
}
.canvas-bg-lvl2 {
    /*background-color: #000000;*/
    background-image: url("../images/bg_lvl2.png");
}
p {
    padding: 0;
    margin-left: 0;
    margin-right: 0; 
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    padding: 10px;
    margin: 0;
}

button{
    padding: 0;
    margin: 0;
}

.show{display: block;}

body {
    position: absolute;
    left: 25%;
    background-color: #d0d0d0;
}
#body-shadow-container{box-shadow: 10px 8px 20px #aeaeae;}

/* Top bar */
header{
    background-color: #242424;
    padding: 1%;
    text-align: center;
    width: 1000px;    
}
header h1{
    font-family: 'Audiowide', cursive;
    color: #ff7200;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 3em;
}
/* Top bar end */

main{
    position: relative;
    width: 1000px;
 }

#start-page {
    /*border: 3px solid #333333;*/
    text-align: center;
    background-color: #fff;
}
#start-page h2{
    color: #3e3e3e;
    margin: 0;
    padding: 2%;
}

#instruction-page{

    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    padding: 30px;
    line-height: 1.5em;

}
#instruction-page h2{
    padding-bottom: 10px;
    margin: 0;
}
#transition-page{
    text-align: center;
    border: 3px solid #949494;
    background-color: #343434;
    color: #ff7200;
    height: 150px;
    width: 200px;
    position: absolute;
    z-index: 10;
    top: 300px;
    left: 400px;
}

#pause-page{
    text-align: center;
    border: 3px solid #949494;
    background-color: #343434;
    color: #ff7200;
    height: auto;
    width: auto;
    position: absolute;
    z-index: 11;
    top: 300px;
    left: 450px;
}

.ib-item{
    min-height: 40px;
    max-height: 40px;
}

#info-bar{
    /*border: 3px solid #333333;*/
    border-bottom: 0;
    text-align: center;
    width: 1000px;
    background-color: #3a3a3a;
    color: #5ddbff;
}

#viewport{
    /*border: 3px solid #333333;*/
    height: 600px;
}

footer {
    background-color: #222222;
    text-align: center;
    padding: 25px;
    color: white;  
}

/* emphasis settings */

footer em{
    color: #ff7200;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #ff7200;
}
a:hover {
    color: #5ddbff;
}

#instruction-page em{
    font-weight: bold;
}
/* All buttons used */
.button{
    background-color: gray; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Overwrites default */
#start-button, #reset-score, #instruction-button{
    padding: 1.5%;
    margin: 2%;
}
.button:hover{
     background: #42bfff;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

/* Column grid */
.col-d-1 {width: 8.33%;}
.col-d-2 {width: 16.66%;}
.col-d-3 {width: 25%;}
.col-d-4 {width: 33.33%;}
.col-d-5 {width: 41.66%;}
.col-d-6 {width: 50%;}
.col-d-7 {width: 58.33%;}
.col-d-8 {width: 66.66%;}
.col-d-9 {width: 75%;}
.col-d-10 {width: 83.33%;}
.col-d-11 {width: 91.66%;}
.col-d-12 {width: 100%;}

/*
@media only screen and (min-width: 1024px) {
    body{margin-left: 0;}
    body{margin-right: 0;}
}
@media only screen and (min-width: 1280px) {
    body{margin-left: auto;}
    body{margin-right: auto;}
}*/

    
